<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:twitter="http://api.twitter.com" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:georss="http://www.georss.org/georss" version="2.0">
<channel>
    <title>Twitter / <%= user.screenname %></title>
    <link>https://twitter.com/<%= user.screenname %></link>
    <description>Twitter timeline from <%= user.screenname %>.</description>
    <language>en-us</language>
    <ttl>40</ttl>
<% for (var i in tweets) { %>
    <% var tweet = formatTweet(tweets[i]); %>
    <item>
        <title><![CDATA[<%= tweet.user.name + ' &mdash; ' + tweet.title %>]]></title>
        <description><![CDATA[<%- tweet.html %>]]></description>
        <pubDate><%= tweet.created_at.toUTCString() %></pubDate>
        <guid>https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %></guid>
        <link>https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %></link>
    </item>
<% } %>
</channel>
</rss>